* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1789;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
  /* text-size-adjust: 100%; */
}

/*-----------------------------------*/
/*------------REUSED-----------------*/
/*-----------------------------------*/
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/*-----------------------------------*/
/*------------HEADER-----------------*/
/*-----------------------------------*/
header {
  position: relative;
  ;
  background-color: #ffffff;
}

.logo {
  float: left;
  position: absolute;
  background-color: #ffffff;
  width: 165px;
  max-height: 105px;
  border-radius: 10px;
  margin-left: 20%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------*/
/*------------HEADER-1-----------------*/
/*-----------------------------------*/
.header-nav-1 {
  float: right;
  margin-right: 60px;
  list-style: none;
}

.header-nav-1 li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 100%;
}

.header-nav-1 a {
  text-decoration: none;
  color: #000000;
  transition: all .9s;
}


.header-nav-1 a:hover,
.header-nav-1 a:active
 {
  color: red;
  padding: 2px 5px 2px 3px;
  text-decoration: underline;

}

.header-nav-1 ul.sub-menu {
  z-index: 10000;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 4px 1px 4px 20px;
  right: 10px;
  margin-top: 22px;
  border-radius: 10px;
  list-style: none;
  font-size: 120%;
  text-align: center;
  cursor: pointer;
  width: 175px;
  display: none;
  animation: alternate-reverse 2s ease-in-out;
}
.header-nav-1 li:hover ul.sub-menu,
.header-nav-1 li:active ul.sub-menu {
  display: inline-block;
}


/*-----------------------------------*/
/*------------HEADER-2---------------*/
/*-----------------------------------*/
nav {
  display: flex;
  background-color: #cc0000;
  justify-content: center;
  justify-items: center;
}

.header-nav-2 {
  display: flex;
  list-style: none;
  margin: 0;
  left: 0;
}

.header-nav-2 li {
  position: relative;
}

.header-nav-2 li a {
  color: #ecffff;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
  font-weight: 2000%;
  font-size: 20px;
}

.header-nav-2 li:hover {
  background-color: #9d0202;
}

.header-nav-2 ul.sub-menu {
  z-index: 10000;
  position: absolute;
  background-color: #ffffff;
  padding: 15px 0px;
  list-style: none;
  width: 200px;
  display: none;
}

.header-nav-2 li:hover ul.sub-menu {
  display: block;
}

.header-nav-2 ul.sub-menu a {
  padding: 8px 15px;
  color: #000000;
  border-bottom: 1px solid rgb(135, 134, 134);
  left: 0;
}

.header-nav-2 ul.sub-menu li:last-child a {
  border: none;
}

.header-nav-2 ul.sub-menu li:hover {
  background-color: #ff1000;
  border-bottom: #ff1000;
}

.header-nav-2 ul.sub-menu a:hover {
  color: white;
}

/*-----------------------------------*/
/*------------BANNER-----------------*/
/*-----------------------------------*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 108px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.banner {
  height: 67vh;
}

/*-----------------------------------*/
/*------------BODY-------------------*/
/*-----------------------------------*/
#body-container {
  margin: 0 auto;
  max-width: 1170px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #777;
}

.headline {
  text-align: center;
  margin: 40px 400px;

}
h3::before{
  content: '';
    position: absolute;
    border-top: 45px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 45px solid #000;
    top: 0;
    right: 100%;
    box-shadow: 0px 5px 0px rgba(255, 3, 3, 1);
}
h3 {
  box-shadow: 0px 5px 1px rgba(255, 3, 3, 1);
  font-size: 24px;
  line-height: 45px;
  color: #fff;
  padding: 0 15px;
  background-color: #000;
  position: relative;
  z-index: 3;
  margin: 0;
}
h3::after{
  content: '';
  position: absolute;
  border-top: 0 solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid #000;
  top: 0;
  left: 100%;
  box-shadow: 0px 0px 0px rgba(255, 3, 3, 1);
}
ul.products {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.products li {
  flex-basis: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

ul.products li img {
  max-width: 100%;
  height: auto;
}

.product-info {
  padding: 20px 0px;
}

.product-info a {
  display: block;
  text-decoration: none;

}

.product-cat {
  font-size: 11px;
  text-transform: uppercase;
  color: black;
  padding: 3px 0px;
}

.product-name {
  color: rgb(255, 0, 0);
  padding: 3px 0px;
  font-weight: 800;
  font-size: 130%;
}

.product-price {
  color: black;
  font-weight: 600;
}

ul.products li .product-top {
  position: relative;
  overflow: hidden;
}

.product-thumb {
  display: block;
}

.product-thumb img {
  display: block;
}

.buy-now {
  display: inline-block;
  position: absolute;
  transform: translate(0,1050%);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  border-radius: 20px;
  margin: -100px 25px;
  width: 200px;
  background-color: #cc0000;
  color: white;
  transition: all 0.3s;
}

.buy-now::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 0, 0, 0.1);
  object-position: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: -100px -135px;

}

ul.products li:hover a.buy-now {
  transform: translate(0,0);
  opacity: 1;
}

.logo-Automaker {
  display: flex;
  flex-basis: 33%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1170px;
}
.logo-Automaker ul{
  height: 10px;
}
.logo-Automaker li{
  list-style: none;
  padding: 40px 55px;
  width: 350px;
  border: 1px solid rgba(135, 134, 134,0.3);
}
.logo-Automaker img{
  width: 250px;
  filter: grayscale(100%);
}
.logo-Automaker li:hover img{
  filter: grayscale(0%);
}

/*-----------------------------------*/
/*------------FOOTER-----------------*/
/*-----------------------------------*/
.footer {
  background-color: #e1e1e1;
  height: 70vh;
}

.footer-nav {
  max-width: 3420px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.footer-nav li {
  list-style: none;
}

.footer-nav-col {
  margin: 0 0.5% 0 0.5%;
}

.form input {
  padding: 15px 250px 15px 10px;
  margin: 2px 0px 3px 0px;
}

.text-form {
  font-size: 125%;
  font-weight: 700;
}

.copyright {
  max-width: 200px;
}

.form input[type="submit"] {
  margin: 10px 0px 0px 280px !important;
  padding: 10px 20px !important;
  font-size: 125%;
  background-color: #d01818;
  border: white;
  color: white;
  margin: 0 auto;
}

.text-content {
  font-size: 90%;
}

.info {
  font-size: 120%;
  color: #d01818;
}

select {
  outline: 0;
  padding: 15px 295px 15px 10px;
  margin: 2px 0px 3px 0px;
}

.end-footer {
  width: 1340px;
  margin: 0 auto;
  background-color: white;
  margin-top: 90px;
  margin-bottom: 40px;
  font-size: 110%;
  padding: 15px;
}

.end-footer a {
  color: #d01818;
}
