* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1789;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x : hidden;
}

img {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

a {
  color: red;
  text-decoration: none;
}

.path {
  margin: 20px 0px;
  font-size: 16px;
  border-bottom: 1px solid #898989;
}

.row-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgb(204, 0, 0);
  border-bottom: 1px solid #898989;
}

/* tính năng nổi bật */
.motor-highlight {
  margin-left: 20px;
  color: red;
  width: 100%;
  background-color: f1f1f1;
  list-style: none;
  display: flex;
  align-items: start;
}

/* tên xe */
.motor-highlight h3 {
  margin-bottom: 10px;
  color: red;
  font-size: 40px;
}

/* giá */
.motor-highlight h4 {
  font-size: 24px;
  letter-spacing: normal;
  color: #212121;
}

/*ảnh điểm nổi bật */
.motor-highlight img {
  justify-content: flex-start;
  width: 50%;
}

/* danh sách tính năng nổi bật */
.motor-highlight>div {
  margin-left: 30px;
}

/* tiêu đề tính năng */
.motor-highlight h5 {
  margin: 10px 50px 10px 0px;
  padding: 20px 50px 20px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  color: white;
}

.motor-highlight h5:hover {
  cursor:copy;
}

/* danh sách nội dung tính năng */
.motor-highlight .content {
  color: black;
  width: 29%;
}

.motor-highlight .content p {
  margin: 0 10px;
}

/* ảnh nội dung tính năng */
.motor-highlight .content img {
  padding: 0 10px;
  width: 196px;
}

.motor-highlight .hide {
  visibility: hidden;
  display: flex;
  opacity: 0;
  transform: translateY(200px);
  transition: 0s;
  height: 0;
}

.motor-highlight .show {
  visibility: visible;
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

.motor-highlight>content>div>img {
  margin-left: 10px;
}
/* end of tính năng nổi bật */

/* Đặc điểm */
.feature {
  width: 100%;
  margin-top: 10px;
  padding: 10px 25px 10px 10px;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  color: red;
  background-color: rgb(0, 0, 255, 0.2);
}


/* Hình ảnh màu sắc */
.price-and-color {
  list-style: none;
  display: flex;
}

.price-and-color img {
  margin: 0 60px 0 40px;
  width: 600px;
}

.price {
  color: red;
  font-size: 22px;
  font-weight: bold;
}

.color-group> p {
  margin-top: 10px;
  font: 17px bold;
}

.color-name {
  font-size: 15px;
}

.color-name:hover {
  cursor: pointer;
}

.hold {
  font-weight: bold;
}

.price-title {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgb(243, 243, 243);
  margin: 0 60px 0 20px;
  padding: 10px;
}

.price-and-color div {
  margin: 10px 10px;
}

/* Danh sách màu */
.color-group {
  list-style: none;
}

/* Nút chọn màu hình bình hành */
.parallelogram {
  padding: 15px 30px;
  border: none;
  outline: none;
  transform: skewX(-20deg);
  display: inline-block;
  border: rgba(0, 0, 0, 0.3) 1px solid;
}

.parallelogram:hover {
  cursor: pointer;
}

/* Các màu */
.red-black-button {
  background: linear-gradient(to right, red 50%, black 50%);
}
.black-button {
  background: black;
}
.black-blue-button {
  background: linear-gradient(to right, black 50%, blue 50%);
}
.black-red-button {
  background: linear-gradient(to right, black 50%, red 50%);
}
.white-blue-black-button {
  background: linear-gradient(to right, white 33%, blue 33% 66%, black 66%);
}
.blue-blue-black-button {
  background: linear-gradient(to right, rgb(0, 0, 255, 0.6) 33%, blue 33% 66%, black 66%);
}
.red-black-silver-button {
  background: linear-gradient(to right, red 33%, black 33% 66%, silver 66%);
}
.gray-black-silver-button {
  background: linear-gradient(to right, gray 33%, black 33% 66%, silver 66%);
}
.black-silver-button {
  background: linear-gradient(to right, black 50%, silver 50%);
}
.white-black-button {
  background: linear-gradient(to right,white 50%,  black 50%);
}
.gray-black-button {
  background: linear-gradient(to right,gray 50%,  black 50%);
}
.red-blue-white-button {
  background: linear-gradient(to right, red 33%, blue 33% 66%, white 66%);
}
.light-blue-white-button {
  background: linear-gradient(to right,rgb(118, 118, 255) 50%,  white 50%);
}
.blue-white-button {
  background: linear-gradient(to right,rgb(42, 42, 253) 50%,  white 50%);
}
.red-white-button {
  background: linear-gradient(to right,red 50%,  white 50%);
}
/* end of price and color */

/* technological information */
.technological-information {
  margin-left: 30px;
  background-color: white;
  width: 90%;
}

.technological-information tr {
  padding: 10px 20px;
}

.technological-information tr:hover th,
.technological-information tr:hover td {
  background-color: rgb(204, 0, 0);
  color: white;
}

.technological-information th {
  width: 40%;
  background-color: rgb(243, 243, 243);
  padding: 10px 20px;
}

.technological-information td {
  width: 50%;
  background-color: rgb(243, 243, 243);
  padding: 10px 20px;
}
/* end of technology information */

.libary {
  margin-left: 30px;
}

/* history version*/
.history-versions {
  width: 100%;
  margin: 0 20px;
}

.history-versions p {
  margin: 10px 30%;
  text-align: center;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.version-pic {
  margin: 20px 0;
  width: 20%;
  padding: 4%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.version-pic:hover {
  width: 300px;
  padding: 0;
}

/* end of history */