@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  position: relative;
  width: 100%;
}
section{
  position: relative;
  width: 100%;
}
.row{
  padding: 50px 0px;
  display: flex;
  position: relative;
  width: 1150px;
  margin: 0 auto;
}
.row .col{
  position: relative;
  width: 50%;
}
.row img {
  max-width: 100%;
  margin-right: 20px;
  width: 500px;
}
form {
  margin: 0 auto;
  padding: 10px 20px;
  /* background-color: #f8f9fa; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.col-input{
  display: flex;
  justify-content: space-between;
}
.form-group{
  width: 48%;
}
h1 {
  font-size: 30px;
  margin-bottom: 50px;
  padding: 20px 0px;
  font-family: 'Roboto', sans-serif;
}
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.col form input[type="text"],
.col form input[type="email"],
.col form input[type="tel"],
.col form select,
.col form textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 20px;
  background-color: none;
  color: #333;

}
.col form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 20px;
  margin: 0;
}
.col form textarea {
  height: 200px;
  resize: vertical;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}


form label[for="gender"]::after {
  content: "*";
  color: #dc3545;
}

form label[for="phone-number"]::after {
  content: "*";
  color: #dc3545;
}

form label[for="address"]::after {
  content: "*";
  color: #dc3545;
}

form label[for="province"]::after {
  content: "*";
  color: #dc3545;
}
.breadscrumb{
  position: relative;
  width: 1150px;
  margin: 0 auto;
}
.app-bread{
  display: flex;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 1px solid #6c757d;
}
.app-bread a{
  text-decoration: none;
  margin: 5px;
}
.app-bread .parent{
  color: #dc3545;
}
.app-arrow{
  font-size: 14px;
}
.app-bread .app-arrow, .app-current, .card p{
  color: #6c757d;
}
.set-index{
  position: relative;
  width: 100%;
  background: rgb(243,243,243);
  padding: 40px;
}
.set-index-card{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: 0 auto;
}
.card{
  width: calc(100%/4.2);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.card h3{
  font-size: 16px;
  height: 60px;
  text-transform: uppercase;
}
.card .card-text{
  height: 20px;
}
